body nav:first-child{
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: rgb(17, 171, 171);
    text-align: center;
}
nav{
    background-color: rgb(191, 230, 245);
    margin: 0px -7px;
}